<!-- input message -->

<form class="send-message-form" action="" method="POST">
  <label for="inputMessage"></label>
  <input name="inputMessage" type="text" />
  <button <% if(!user) { %>disabled=true <%}%> >Send</button>
</form>
